* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    position: relative;
}

.header {
    height: 60px;
    background: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.main-nav {
    display: none;
}

.search {
    display: none;
}

.main-button {
    display: none;
}

.page-nav {
    display: none;
}

.article {
    display: none;
}

.section__open .article {
    display: block;
}

.footer {
    display: none;
}

.invisible {
    color: transparent;
    font: 0/0 a;
}

.intro {
    display: none;
}

.bg {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
}

.bg_game {
    background: url("img/grass.webp"), url("img/grass.webp") repeat 150px 200px, url("img/grass.webp") repeat 50px 100px;
    position: absolute;
    top: 0;
    bottom: 67%;
    right: 0;
    left: 0;
    mask: url("img/mask_mob.gif") bottom left repeat-x;
}

.bg_power {
    background: url("img/dust.webp") repeat 150px 200px, url("img/dust.webp"), url("img/dust.webp") repeat 50px 100px;
    position: absolute;
    top: 67%;
    bottom: 0;
    right: 0;
    left: 0;
    mask: url("img/mask_mob.gif") top left repeat-x;
}

.bg_tanks {
    background: url("img/sand.webp") repeat 50px 100px, url("img/sand.webp") repeat 150px 200px, url("img/sand.webp");
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.bg__game .bg_tanks, .bg__game .bg_power {
    display: none;
}

.bg__game .bg_game {
    bottom: 0;
    mask: none;
}

.main {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 60px;
    position: relative;
    min-height: 100vh;
}

.title {
    color: #fff;
    font: 24px/normal 'Open Sans Condensed';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 103px;
    height: 103px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 6px;
}

.main__game .section__tank, .main__game .section__power {
    display: none;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title::first-line {
    letter-spacing: normal;
    font-size: 9px;
    font-weight: lighter;
}

.title::after {
    content: '';
    margin-right: -6px;
}

.title__game {
    background-image: url(./img/the-game.png)
}

.title__tank {
    background-image: url(./img/the-tank.png)
}

.title__power {
    background-image: url(./img/the-power.png)
}

@media all and (min-width: 760px) {
    .header {
        background: rgba(0, 0, 0, .5);
    }
    .bg {
        top: 0;
    }
    .bg_game {
        background: url("img/grass.webp"), url("img/grass.webp") repeat 150px 200px, url("img/grass.webp") repeat 50px 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 67%;
        left: 0;
        mask: url("img/mask.gif") right repeat-y;
    }
    .bg_tanks {
        background: url("img/sand.webp") repeat 50px 100px, url("img/sand.webp") repeat 150px 200px, url("img/sand.webp");
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .bg_power {
        background: url("img/dust.webp") repeat 150px 200px, url("img/dust.webp"), url("img/dust.webp") repeat 50px 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 67%;
        mask: url("img/mask.gif") left repeat-y;
        height: 100vh;
    }
    .main {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding-top: 60px;
        position: relative;
        min-height: 100vh;
        grid-gap: 20px;
    }
    .intro {
        display: block;
        font: 21px/normal 'Open Sans Condensed';
        color: rgb(255, 255, 255);
        line-height: 1.429;
        max-width: 325px;
        text-align: center;
    }
    .title {
        font-size: 36px;
        width: 203px;
        height: 203px;
        margin: auto;
        padding-top: 50px;
    }
    .title::first-line {
        font-size: 14px;
        font-weight: lighter;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        margin-top: -60px;
    }
    .section__tank::after {
        content: '';
        transform: rotate(30deg);
        background: url(img/turret.webp) no-repeat center 385px, url(img/turret-shadow.webp) no-repeat 180px 415px;
    }
    .section__tank {
        background: url(img/turret.webp) no-repeat center 385px, url(img/turret-shadow.webp) no-repeat 180px 415px, url(img/tank.webp) no-repeat center 500px;
    }
}